.tdstyle {
    width:294px;
    padding: 0px;
}
.tablewidth {
    width:100%
}
.tdstyle1 {
    width:75px;
    padding: 0px;
    text-align:right;
}
.bold {
    font-weight:bold;
}
.td2{
    width:75px;
    border-top: solid 1px black;
    font-weight:bold;
    padding: 0px;
    text-align:right;
}
  .bold{
      font-weight: bold;
  }
  
  .View_modal-body-appneet {
    background-color: #E6E6E6;;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
  }
   A.read-more {
    background: url(../../assets/images/read_more.gif) no-repeat scroll 0 0.2em
      transparent;
    clear: both;
    color: #7bc144;
    display: block;
    padding-left: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .read-more_ref {
    color: #7bc144;
    font-weight: bold;
    text-transform: uppercase;
  }
  .inputwidth {
      font-size: 12px;
  }
  .modal-content{
    border:black 3px solid;
  }
  
  

  