.Adressepunkt_og_fastantallsanalyseSpinnerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Adressepunkt_og_fastantallsanalyseSpinner{
    height: 30px;
    width: 30px;
}
.zero-margin{
    margin-right:0px !important;
    margin-left:0px !important;
}