.loader-container {
  // width: 0px !important;
  // height: 100vh;
  // display: flex;
  // overflow: hidden;
}

.loader {
  margin: auto;
  left: 70px;
  right: 0;
  top: 90px;
  bottom: 0;
  position: fixed;
  border: 5px dotted #dadada;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 999;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
