<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="InputPIBMapping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<InputPIBMapping.Properties.Settings>
			<setting name="DBCOLUMNREOL_ID" serializeAs="String">
				<value>REOL_ID</value>
			</setting>
			<setting name="DBCOLUMNENHNRRUTEANSV" serializeAs="String">
				<value>ENHNRRUTEANSV</value>
			</setting>
			<setting name="DTEXCELCompareColumn" serializeAs="String">
				<value>Enhetsnr_New</value>
			</setting>
			<setting name="DTExcelEnhetsnrOldInsert" serializeAs="String">
				<value>Enhetsnr_old</value>
			</setting>
			<setting name="DTExcelEnhetsnrNewInsert" serializeAs="String">
				<value>Enhetsnr_New</value>
			</setting>
			<setting name="DBCOLUMNREOLNR" serializeAs="String">
				<value>REOLNR</value>
			</setting>
			<setting name="DBConnectionString" serializeAs="String">
				<value>Persist Security Info=True;Unicode=True;Data Source=PUMA;User Id=kspu_db;Password=kspu_db;Pooling=false;</value>
			</setting>
			<setting name="SelectQueryDistictReolID" serializeAs="String">
				<value>select distinct REOL_ID,ENHNRRUTEANSV, REOLNR from INPUT_BOKSANLEGG </value>
			</setting>
		</InputPIBMapping.Properties.Settings>
	</userSettings>
	<appSettings>
		<!--Route Import-->
		<add key="RouteExtractPath" value="\\posten.local\dfs\enterprise\Samarbeidsfora\GIS\Puma Prod\Route Update Automation\Route_Extract"/>
		<add key="CSVtoTextFilePath" value="C:\Maitri\Route_Test"/>
		<add key="RouteImportPath" value="C:\Install\KSPU Leveranser\Puma.Rute.Import_rdf\ImportFiles"/>
		<add key="RouteImportConfigPath" value="C:\Avinash\Posten.Puma.Rute.Import.Install\Posten.Puma.Rute.Import.exe.config"/>
		<add key="RouteImportDirectory" value="C:\Windows\System32"/>
		<add key="RouteImportExePath" value="C:\Avinash\Posten.Puma.Rute.Import.Install\Posten.Puma.Rute.Import.Install\Posten.Puma.Rute.Import.exe"/>
		<add key="RouteImportBatFilePath" value="C:\Maitri\Batch Files\RouteImport.bat"/>
		<add key="RouteImportLogs" value="C:\Install\KSPU Leveranser\Puma.Rute.Import_rdf\Logs"/>

		<!--PIB Import-->
		<add key="RouteImportLogsSharedPath" value="\\posten.local\dfs\enterprise\Samarbeidsfora\GIS\Puma Prod\Route Update Automation\Route_Import_Logs"/>
		<add key="PIBImportFilePath" value="\\posten.local\dfs\enterprise\Samarbeidsfora\GIS\Puma Prod\Route Update Automation\PIB_Import\PIB since last extract.xls"/>
		<add key="BackupBoksanlegg" value="false"/>

		<!--Route Generation-->
		<add key="RouteGenerationBatFilePath" value="C:\Maitri\Batch Files\RouteGeneration.bat"/>
		<add key="RouteGenerationExeFilePath" value="C:\Program Files (x86)\Geodata as\KSPU RuteGenerator - RDF\GeneratorController.exe"/>

		<!--Route Recreation-->
		<add key="RouteRecreationExePath" value="C:\Program Files (x86)\Geodata as\KSPU RuteGenerator - RDF\GjenskapUtvalgLoop.exe"/>
		<add key="RouteRecreationBatFilePath" value="C:\Maitri\Batch Files\RouteRecreation.bat"/>
		<add key="WorstCaseReportsPath" value="C:\Temp"/>
		<add key="LogWriterBatFilePath" value="C:\Maitri\Batch Files\LogWriter.bat"/>
		<add key="LogWriterExeFilePath" value="C:\Program Files (x86)\Geodata as\KSPU RuteGenerator - RDF\LogWriter.exe"/>
		<add key="WorstCaseSharedPath" value="\\posten.local\dfs\enterprise\Samarbeidsfora\GIS\Puma Prod\Route Update Automation\WorstCaseReport"/>

		<!--Common Paths-->
		<add key="LogFilePath" value="C:\Maitri\RouteUpdateConsoleApplication\RouteUpdateConsoleApplication\Logs\"/>
		<add key="CmdPath" value="C:\Windows\System32"/>
		<add key="IISBatFilePath" value="C:\Maitri\Batch Files\IIS.bat"/>

		<!--ReportServerPath-->
		<add key="ReportServiceStartBatFilePath" value="C:\Maitri\Batch Files\StartKSPUReportingService.bat"/>
		<add key="ReportServiceStopBatFilePath" value="C:\Maitri\Batch Files\StopKSPUReportingService.bat"/>
		<add key="TempReports" value="C:\Temp\Reports"/>
		<add key="OldReports" value="C:\Inetpub\wwwroot\ReportExport"/>



		<!--Route Update Mail-->
		<add key="MailSubject" value="Puma Upgrade Testing"/>
		<add key="DBTeamEmail" value="DB Team Email"/>
		<!--"Required"-->
		<add key="DBBackupRequestBody" value="Hello DB Team, Please start the DB backup and confirm once completed"/>
		<add key="UpdateReceiverEmails" value="maitri.sharma@posten.no"/>
		<!--<add key="UpdateReceiverEmails" value="ashutosh.bilotiya@posten.no,maitri.sharma@posten.no,gro.mikkelsen@posten.no,arild.hepso@posten.no,Avinash.Mishra@posten.no,leif-tore.bergman@posten.no,erik.aune@posten.no,RamyaKrishna.Naroju@posten.no,Abhishek.Yadav@posten.no,Devis.Chandubhai.Patel@posten.no,tcspono.releasemanagement@tcs.com,econnect.support@tcs.com,postennorge.oebsfarruteearap@tcs.com,postennorge.change@dxc.com,ankit.gadia@tcs.com,monitoring.notification@tcs.com,Vikash.Ranjan@posten.no,anne.gjerstad@posten.no,Payel.Mukherjee@posten.no,Kristin.berger@bring.com,Maciej.Von.wika-czarnowski@posten.no,Rajesh.Subuddi@posten.no,PostenNorge.IPC@tcs.com"/>-->
		<!--<add key="UpdateReceiverEmails" value="maitri.sharma@posten.no"/>-->
		<add key="AppTeamMail" value="ashutosh.bilotiya@posten.no,maitri.sharma@posten.no"/>

		<!--DRM XML-->
		<add key="DRMXML" value="C:\Maitri\RouteUpdateConsoleApplication\RouteUpdateConsoleApplication\DRMXML.xml"/>
		<add key="MDMUrl" value="http://qec4lb.posten.no:9005/soa-infra/services/default/T50014_RUTE_PRSPlan_Update_eC_DRMExtract/T50014_RUTE_PRSPlan_Update_eC_DRMExtract_WS"/>
		<add key="PMSURL" value="Data Source=SHUAT;User Id=XXCU_EXPORT;Password=xxcu_export;Integrated Security=no;"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
